jobs:
  include:
    - stage: Precise
      os: linux
      dist: precise
      script:
        - ulimit -Sn
        - ulimit -Hn
    - stage: Trusty
      os: linux
      dist: trusty
      script:
        - ulimit -Sn
        - ulimit -Hn
    - stage: Xenial
      os: linux
      dist: xenial
      script:
        - ulimit -Sn
        - ulimit -Hn
    - stage: Bionic
      os: linux
      dist: bionic
      script:
        - ulimit -Sn
        - ulimit -Hn
    - stage: Focal
      os: linux
      dist: focal
      script:
        - ulimit -Sn
        - ulimit -Hn

notifications:
  email: false